---
- name: Restart httpd service and debug status
  hosts: all
  become: true
  gather_facts: false 

  tasks:
    - name: Restart Apache HTTPD service
      ansible.builtin.service:
        name: httpd
        state: restarted
      register: httpd_restart_status # Register the result of the task to a variable

    - name: Display httpd restart status for debugging
      ansible.builtin.debug:
        var: httpd_restart_status