# Prometheus (standalone) - Lab Configuration
# Chart: prometheus 27.0.0

prometheus:
  # Disable components we don't need
  alertmanager:
    enabled: false

  prometheus-pushgateway:
    enabled: false

  kube-state-metrics:
    enabled: false

  prometheus-node-exporter:
    enabled: false

  # Provide custom configuration for Prometheus server linux EC2 nodes
  extraScrapeConfigs: |
    - job_name: "linux-nodes"
      static_configs:
        - targets:
          - 18.144.29.14:9100
          - 50.18.130.21:9100 
    - job_name: "platformapi"
      metrics_path: /app/metrics
      static_configs:
        - targets:
          - aaec988c6bd1d4b1d93e8f170648405c-783298805.us-west-1.elb.amazonaws.com:80

  # Prometheus server
  server:
    service:
      type: LoadBalancer
  
    # Enable remote write receiver for Alloy/Tempo
    extraFlags:
      - "web.enable-remote-write-receiver"

    persistentVolume:
      enabled: true
      storageClass: "gp3"
      size: 10Gi

    resources:
      requests:
        cpu: 250m
        memory: 512Mi
      limits:
        cpu: 500m
        memory: 1Gi

